extends ../../../layouts/layout

block content
  style.
      body {
      background-image:
      linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
      ),
      url(/images/logo.png);
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: bottom;
      }
      .panel-default {
      opacity: 0.9;
      margin-top:30px;
      }
      .form-group.last { margin-bottom:0px; }
  // Titre de la page
  title(ng-bind="pageTitle")
  // Formulaire de connexion
  br
  br
  br
  .container
      .row
          .col-md-6
              .panel.panel-default
                  .panel-heading
                      span.glyphicon.glyphicon-lock
                      |  Connexion
                  .panel-body
                      // Messages d'erreurs
                      .alert.alert-danger(align="center", name="errorMsg", ng-if="erreur")
                          p(ng-repeat="message in messages", ng-bind="message")
                      form.form-horizontal(role="form", name="formulaireConnexion", ng-submit="connexion(membre)", novalidate="")
                          .form-group
                              label.col-sm-3.control-label(for="inputEmail3")
                                  | Adresse Mail
                              .col-sm-8
                                  input#inputEmail3.form-control(type="email", name="email", placeholder="Adresse mail", ng-model="membre.email", ng-paste="$event.preventDefault();", ng-required="true", ng-pattern="/^[a-z0-9_-]+(\.[a-z0-9_-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/")
                                  div(align="center", ng-if="formulaireConnexion.email.$invalid && formulaireConnexion.email.$touched")
                                      small Insérez une adresse mail
                              .col-sm-1
                          br
                          .form-group
                              label.col-sm-3.control-label(for="inputPassword3")
                                  | Mot de Passe
                              .col-sm-8
                                  input#inputPassword3.form-control(type="password", name="motDePasse", placeholder="Insérer un mot de passe", ng-model="membre.motDePasse", ng-paste="$event.preventDefault();", ng-required="true")
                                  div(align="center", ng-if="formulaireConnexion.motDePasse.$invalid && formulaireConnexion.motDePasse.$touched")
                                      small Insérez un mot de passe
                              .col-sm-1
                          .form-group.last
                              .col-sm-offset-3.col-sm-9
                                  button.btn.btn-danger.btn-sm(type="submit", ng-disabled="formulaireConnexion.$invalid")
                                      | Se connecter
                  .panel-footer
                      // Chargement...
                      div(align="right", name="load", ng-if="load")
                          span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
                          |                     Chargement...
                      a(href="#/connexion/motDePasseOublie") Mot de passe oublié ?
          br
          br
          br
          br
          .col-md-2
          .col-md-4
              .panel.panel-default
                  .panel-body
                      div(align="center")
                          label(align="center") Vous ne possédez pas de Compte sur 1Rempla ?
                      div(align="center")
                          a.btn.btn-danger(type="button", href="#/inscription") Enregistrez-vous
