<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Création de compte</title>
</head>
<body>
<span class="preheader"></span>

<table style="width:100%;" class="body">
    <tr>
        <td align="center" class="center" valign="top">
            <center data-parsed="">
                <style class="float-center" type="text/css">
                    .body-drip {
                        border-top: 8px solid #d43f3a !important;
                    }
                </style>
                <table class="spacer float-center">
                    <tbody>
                    <tr>
                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container header float-center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first last">
                                        <table>
                                            <tr>
                                                <th>
                                                    <h1 class="text-center">Bienvenue sur 1Rempla</h1>

                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container body-border float-center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first last">
                                        <table>
                                            <tr>
                                                <th>

                                                    <center data-parsed="">
                                                        <img align="center" class="float-center" style="width:200px;" src="http://163.172.154.199/images/logo.png">
                                                    </center>

                                                    <h2 style="text-align:center;">{{sexe}}{{nom}} {{prenom}}</h2>
                                                    <p style="text-align:center;">Votre compte a été validé! Pour accéder à votre compte, cliquez sur le lien suivant : </p>
                                                    <center data-parsed="">
                                                        <table align="center" class="menu float-center">
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tr>
                                                                            <th class="menu-item float-center">
                                                                                <a style="color:#d43f3a; text-align:center;" href="https://localhost:3000/#/connexion">Me connecter et accéder à mon compte</a>
                                                                            </th>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </center>
                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <table class="spacer">
                                <tbody>
                                <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table>

<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>
