<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>Signalisation d'un site - 1Rempla</title>
</head>
<body>

<span class="preheader"></span>


<table style="width:100%;" class="body">
<tr>
<td align="center" class="center" valign="top">
<center data-parsed="">
<style class="float-center" type="text/css">
              .body-drip {
                border-top: 8px solid #d43f3a !important;
              }
        </style>
<h1>1REMPLA</h1>

<table align="center" class="container body-drip float-center">
<tbody>
<tr>
<td>

<center data-parsed="">
<img align="center" class="float-center" style="width:200px;" src="http://163.172.154.199/images/logo.png">
<h3 class="text-center">Le site n°{{id}} été signalé pour la raison suivante : {{raison}}</h3>
<h4 class="text-center">Précision : {{precision}}</h4>
<h4 class="text-center">Informations supplémentaires : {{infosSupp}}</h4>
<hr>
<h3 class="text-center">Voici les informations du signaleur :</h3>
<h4 class="text-center">Nom : {{signaleur.nom}}</h4>
<h4 class="text-center">Prénom : {{signaleur.prenom}}</h4>
<h4 class="text-center">Profession : {{signaleur.profession}}</h4>
<h4 class="text-center">Adresse : {{signaleur.adresse}}</h4>
<h4 class="text-center">Ville : {{signaleur.ville}}</h4>
<h4 class="text-center">Code postal : {{signaleur.codePostal}}</h4>
<h4 class="text-center">Nationalité : {{signaleur.nationalite.libelle}}</h4>
<h4 class="text-center">Date de naissance : {{signaleur.dateNaissance}}</h4>
<h4 class="text-center">Ville de naissance : {{signaleur.villeNaissance}}</h4>
<h4 class="text-center">Code postal de la ville de naissance : {{signaleur.codePostalNaissance}}</h4>
</center>


<table class="row collapsed footer">
<tbody>
<tr>
<th class="small-12 large-12 columns first last">

</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</table>

<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>

</body>
</html>
