
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>Mot de passe oublié</title>
</head>
<body>
<span class="preheader"></span>




<table style="width:100%;" class="body">
<tr>
<td align="center" class="center" valign="top">
<center data-parsed="">
<style class="float-center" type="text/css">
              .body-drip {
                border-top: 8px solid #d43f3a !important;
              }
        </style>
<h1 class="text-center">1REMPLA</h1>
<table class="row">
<tbody>
<tr>
<th class="small-12 large-12 columns first last">
<table>
<tr>
<th>
<center data-parsed="">
<img align="center" class="float-center" style="width:200px;" src="http://163.172.154.199/images/logo.png">
</center>
<h1 class="text-center">Mot de passe oublié?</h1>

<p class="text-center" style="text-align:center;">Changez le en cliquant sur le lien suivant ou ignorez ce message si vous n'avez pas fait cette demande :</p>
<table class="button large expand">

<a style="color:#d43f3a; text-align:center;" href="https://localhost:3000/#/reinitialisationMdp/{{token}}">Réinitialiser votre mot de passe</a>

 <hr>
<p style="text-align:center;"><small>Ce lien expirera dans une heure. Si vous ne l'utilisez pas dans le temps imparti, vous devrez faire une autre demande.</small></p>
</th>
<th class="expander"></th>
</tr>
</table>
</th>
</tr>
</tbody>
</table>
<table class="spacer">
<tbody>
<tr>
<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</table>

<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>
