<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>Confirmation de prise de contact</title>
</head>
<body>
<span class="preheader"></span>


<table style="width:100%;" class="body">
<tr>
<td align="center" class="center" valign="top">
<center data-parsed="">
<style class="float-center" type="text/css">
              .body-drip {
                border-top: 8px solid #d43f3a !important;
              }
        </style>
<h1>1REMPLA</h1>

<table align="center" class="container body-drip float-center">
<tbody>
<tr>
<td>

<center data-parsed="">
<img align="center" class="float-center" style="width:200px;" src="http://163.172.154.199/images/logo.png">
<h2 class="text-center">{{sexe}}{{nom}} {{prenom}}</h2>
<h3 class="text-center">Vous avez pris contact avec {{sexeR}} {{nomR}} {{prenomR}}.</h3>
</center>

<hr>
<table class="row" style="width:100%;">
<tbody style="text-align:-webkit-center;">
<tr>
<th class="small-12 large-12 columns first last">
<table>
<tr>
<th>
<p style="text-align:center;">Le message que vous lui avez transmis est le suivant :</p>
<p style="text-align:center;">{{message}}</p>
<br />
<p style="text-align:center;">Nous vous souhaitons une bonne continuation sur notre site.</p>
</th>
<th class="expander"></th>
</tr>
</table>
</th>
</tr>
</tbody>
</table>
<table class="row collapsed footer">
<tbody>
<tr>
<th class="small-12 large-12 columns first last">

</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</table>

<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>
