extends ../layouts/layout

block content
    title(ng-bind="pageTitle")
    h2.page-header(ng-bind="title")
    h3 Qu'est-ce que c'est que 
       span(style="color:#F14445") 1Rempla&nbsp;
       span ?
    p.
      Fondé en 2017, 1Rempla est un site de mise en relation entre personnel de santé privé installé et remplaçant.
    p.
      Il s'adresse aux professionnels recherchant à être remplacés, et également aux professionels souhaitant effectuer un remplacement.

    h3 Comment pouvons-nous vous aider ?
    p.
      Que vous soyez dans le personnel de santé installé ou replaçant, 1Rempla vous propose les mêmes services :
    ul
      li.
        Déposer des annonces afin de faire une demande de recherche de remplacement ou de proposer vos services de remplaçant.
      li.
        Rechercher parmis toutes les annonces déjà existantes celle qui vous convient.
    p.
      A travers une interface simple et intuitive, 1Rempla vous propose un système de mise en relation par correspondance de lieu, date et métier, afin que
      votre expérience soit la plus bénéfique.
    
    h3 Qui sommes nous ?
    p.
      Derrière 1Rempla se cache une équipe de jeunes étudiants, tous issus de l'IUT de Vannes (56), ainsi qu'un grand nombre de professionnels, professeurs, amis.
      Tant de gens qui, que cela soit seulement quelques heures, ou des mois entiers, ont à un moment décidé d'agir pour faire naitre 1Rempla.
    p.
      Au début un simple projet de DUT (Diplôme Universitaire Technologique), 1Rempla a continué sa route jusqu'à maintenant pour être ce qu'il est, et compte bien avancer encore.
    
    h3 Comment s'inscrire sur 
       span(style="color:#F14445") 1Rempla&nbsp;
       span ?
    p.
      En cliquant sur le bouton 's'enregistrer' en haut à droite de la page, vous arrivez sur un formulaire complet à remplir. Nous vons envoyons ensuite un mail de
      confirmation à l'adresse mail que vous nous avez donné. Il n'y a plus qu'à cliquer sur le lien dans le mail et votre compte est fait ! Vous pouvez maintenant créer
      des annonces ou alors rechercher parmis toutes celles déjà présentes.
    
    h3 Crédits
    p    Toute l'équipe de 1Rempla vous remercie de faire vivre notre site.
    p    Nous vous remercions vous, utilisateurs de 1Rempla, pour qui nous continuons de l'améliorer tous les jours.
    p    Nous vous remercions également, collaborateurs de ce projet ...
