extends ../layouts/layout

block content
  title(ng-bind="pageTitle")
  h2.page-header(ng-bind="title")
  label Article 1 : Objet
  p    Insérer l'explication de l'article
  label Article 2 : Acceptation des conditions générales
  p    Insérer l'explication de l'article
  label Article 3 : Vie privée et cookies
  p    Insérer l'explication de l'article
  label Article 4 : Utilisation des services
  p Ne pas oublier de :
    ul
      li Informer les internautes de la finalité des cookies ;
      li Obtenir leur consentement ;
      li Fournir un moyen aux internautes de les refuser.
  p    Insérer l'explication de l'article
  label Article 5 : Dispositions relatives à l'utilisation du service "Messagerie"
  p    Insérer l'explication de l'article
  label Article 6 : Responsabilité
  p    Insérer l'explication de l'article
  label Article 7 : Prix
  p    Insérer l'explication de l'article
  label Article 8 : Propriété intellectuelle
  p    Insérer l'explication de l'article
  label Article 9 : Durée
  p    Insérer l'explication de l'article
  label Article 10 : Juridictions compétentes et droit applicable
  p    Insérer l'explication de l'article
  label Article 11 : Dispositions diverses
  p    Insérer l'explication de l'article
