extends ../layouts/layout

block content
  title(ng-bind="pageTitle")
  h2.page-header(ng-bind="title")
    h3  
       span(style="color:#F14445") 1Rempla
    p raison sociale
    p forme juridique
    p adresse du siège social
    p montant du capital social
    h3 Hébergement
    h3 Cnil
    p numéro de déclaration simplifiée Cnil
    
